<div class="container">
  <div class="device-panel">
    <mat-card class="sensor-panel">
      <mat-card-header>
        <mat-card-title>Temperature</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <iframe src="http://172.20.10.5:7000/d-solo/adkoln1fgd0jka/class-monitoring?orgId=1&from=1714839262987&to=1714860862987&theme=light&panelId=1" width="260" height="200" frameborder="0"></iframe>      </mat-card-content>
    </mat-card>
    <mat-card class="action-panel">
      <div class="action-button heat" [ngClass]="{'active': heatOn}" (click)="onHeatClick()">
        <mat-icon>whatshot</mat-icon>
        <span>Heat</span>
      </div>
      <div class="action-button fan" [ngClass]="{'active': fanOn}" (click)="onFanClick()">
        <mat-icon>ac_unit</mat-icon>
        <span>Fans</span>
      </div>
    </mat-card>
  </div>

  <div class="device-panel">
    <mat-card class="sensor-panel">
      <mat-card-header>
        <mat-card-title>Lights</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <iframe src="http://172.20.10.5:7000/d-solo/adkoln1fgd0jka/new-dashboard?orgId=1&from=1714817788390&to=1714839388390&theme=light&panelId=1" width="260" height="200" frameborder="0"></iframe>
      </mat-card-content>
    </mat-card>
    <mat-card class="action-panel">
      <div class="lights-button lights" [ngClass]="{'active': lightsOn}" (click)="onLightsClick()">
        <mat-icon>lightbulb</mat-icon>
      </div>
    </mat-card>
  </div>

  <div class="device-panel">
    <mat-card class="sensor-panel">
      <mat-card-header>
        <mat-card-title>Party mode</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <iframe src="http://172.20.10.5:7000/d-solo/adkoln1fgd0jka/new-dashboard?orgId=1&from=1714817788390&to=1714839388390&theme=light&panelId=1" width="260" height="200" frameborder="0"></iframe>
      </mat-card-content>
    </mat-card>
    <mat-card class="action-panel">
      <div class="lights-button party" [ngClass]="{'active': partyOn}" (click)="onPartyClick()">
        <mat-icon>lightbulb</mat-icon>
      </div>
    </mat-card>
  </div>
</div>
